/* Hide all scrollbars completely */
::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

body, html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Force hide React Native web scrollbars */
.css-view-1dbjc4n {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.css-view-1dbjc4n::-webkit-scrollbar {
  display: none !important;
}